# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# setuptools_scm
deepxde/_version.py

# PyCharm
.idea/

# data
*.dat
*.npy
*.npz
*.csv
*.h5
*.hdf5
*.ckpt
*.pth
*.pt

# mac
/.DS_Store
.DS_Store